@model List<Artist>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Songs</h1>


@foreach (Artist artist in @Model)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@artist.ImageUrl" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">@artist.Name</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            @* <a asp-controller="Songs" asp-action="Details" asp-route-id="@pair.Key.Id" class="btn btn-primary">Details...</a> *@
        </div>
    </div>
}