@model Dictionary<Song, Album>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<style>
    .album-card .card-img-top, .song-card .card-img-top {
        display: block;
        margin: 0 auto;
        object-fit: cover;
        height: 200px;
        width: 100%;
    }
</style>

<div class="container my-5">
    <h1>Songs</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (KeyValuePair<Song, Album> pair in @Model)
        {
            <div class="col">
                <div class="card mt-4 song-card" style="width: 18rem;">
                    <img class="card-img-top" src="@pair.Value.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@pair.Key.Title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a asp-controller="Songs" asp-action="Details" asp-route-id="@pair.Key.Id"
                           class="btn btn-primary">Details...</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
